src/main/resources/xml/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orders" type="ordersType"/>
  <xs:complexType name="priceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="currency" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sony 54.6&quot; (Diag) Xbr Hx929 Internet Tv"/>
            <xs:enumeration value="Apple iPad 2 with Wi-Fi 16GB - iOS 5 - Black"/>
            <xs:enumeration value="Sony NWZ-E464 8GB E Series Walkman Video MP3 Player Blue"/>
            <xs:enumeration value="Apple MacBook Air A 11.6&quot; Mac OS X v10.7 Lion MacBook"/>
            <xs:enumeration value="Panasonic TC-L47E50 47&quot; Smart TV Viera E50 Series LED HDTV"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="gtin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="00027242816657"/>
            <xs:enumeration value="00885909464517"/>
            <xs:enumeration value="00027242831438"/>
            <xs:enumeration value="00885909464043"/>
            <xs:enumeration value="00885170076471"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="priceType" name="price"/>
      <xs:element name="supplier">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sony"/>
            <xs:enumeration value="Apple"/>
            <xs:enumeration value="Panasonic"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="orderType">
    <xs:sequence>
      <xs:element type="productType" name="product" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="created" use="optional"/>
    <xs:attribute type="xs:string" name="ID" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ordersType">
    <xs:sequence>
      <xs:element type="orderType" name="order" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>